services:
  backend:
    build: .
    ports:
      - "8082:8080"
    container_name: spring-green
    environment:
      - TZ=Asia/Seoul
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
      - SPRING_DATA_REDIS_PASSWORD=${REDIS_PASSWORD}
    stop_grace_period: 10s
    networks:
      app-network:
        aliases:
          - spring-backend

networks:
  app-network:
    external: true
